<template>
  <Layout :sidebar="false">
    <div class="content">
      <h1>{{ $static.metadata.siteName }}</h1>
      <p>{{ this.description }}</p>
      <p>Beyond development, I co-host a <a href="https://www.youtube.com/channel/UC6_qlLt9q-o3K5E0Un6eCYw" target="_blank">YouTube</a> channel with fellow developer <a href="https://navinkarkera.github.io" target="_blank">Navin Karkera</a>, where we delve into advanced programming concepts and emerging technologies, fostering a community of continuous learning and professional growth.</p>

      <nav>
        <!-- To use other icons here, you need to import them in the Shortcut component -->
        <Shortcut link="/about/" text="About" icon="user-icon" />
        <Shortcut link="/skills/" text="Skills" icon="list-icon" />
        <Shortcut link="/experience/" text="Experience" icon="monitor-icon" />
        <Shortcut link="/education/" text="Education" icon="book-open-icon" />
      </nav>
      <ProfileLink class="git" size="large" />
    </div>
  </Layout>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import ProfileLink from '~/components/ProfileLink.vue'
import Shortcut from '~/components/Shortcut.vue'

export default {
  components: {
    ProfileLink,
    Shortcut
  },
  data() {
    return {
      title: 'Full Stack Software Developer',
      description: 'As a Full Stack Software Developer, I specialize in developing scalable solutions that drive efficiency and innovation. Proficient in Python and a spectrum of web technologies, I have a proven track record of delivering robust applications that meet complex business needs.'
    }
  },
  metaInfo() {
    return {
      title: this.title,
      meta: [
        { key: 'description', name: 'description', content: 'Resume- Full Stack Software Developer' }
      ]
    }
}
}
</script>

<style lang="scss" scoped>
.content {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  max-width: 600px;
  margin: 0.3em auto 0.3em;

  @include respond-above(md) {
    max-width: 1000px;
  }
}

p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
  margin: 0.5em auto 0.5em;


  @include respond-above(md) {
    max-width: 1000px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    flex-direction: row;
  }
}

.git {
  margin: 1em 0 0;
  align-self: center;

  @include respond-above(md) {
    margin: 2em 0 0;
  }
}
</style>
