<template>
    <div class="row">
        <a href="https://www.youtube.com/channel/UC6_qlLt9q-o3K5E0Un6eCYw" :class="size" title="Youtube-channel" aria-label="ITcracy Youtube">
            <youtube-icon class="icon" />

        </a>
        <a href="https://github.com/imasdekar" :class="size" title="Github-repository" aria-label="Ishan Masdekar on Github">
            <github-icon class="icon" />

        </a>

  <a href="https://gitlab.com/imasdekar" :class="size" title="Gitlab-repository" aria-label="Ishan Masdekar on Gitlab">
    <gitlab-icon class="icon" />

  </a>
  <a href="https://in.linkedin.com/in/ishan-masdekar-57443898" :class="size" title="Linkedin-profile" aria-label="Ishan Masdekar on Linkedin">
    <linkedin-icon class="icon" />

  </a>
  <a href="/ISHAN_resume.pdf" target="_blank" :class="size" title="Resume" aria-label="Ishan Masdekar Resume">
    <download-icon class="icon" />

  </a>
</div>
</template>

<script>
import { GithubIcon, GitlabIcon, LinkedinIcon, DownloadIcon, YoutubeIcon } from 'vue-feather-icons'

export default {
  components: {
    GithubIcon,
    GitlabIcon,
    LinkedinIcon,
    YoutubeIcon,
    DownloadIcon
  },
  props: {
    size: {
      type: String,
      default: 'small'
    },
  }
}
</script>

<style lang="scss" scoped>
a {
  display: inline-block;
  padding: 6px 10px;
  margin: 2px 6px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  transition: color .15s ease-in-out, background .15s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
  }

  .dark & {

    &:hover {
      box-shadow: 0 4px 8px 0 shade($sidebarBright, 10%);
      transition: 0.3s;
    }
  }

  .bright & {

    &:hover {
      box-shadow: 0 4px 8px 0 shade($sidebarDark, 10%);
      transition: 0.3s;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    vertical-align: -6px;
    margin-right: 4px;
  }

  &.large {
    @include respond-above(sm) {
      font-size: 18px;
      padding: 12px 20px;
      line-height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
</style>
